#curriculum1{
    margin-top: 0px;
    margin-bottom: 10px;
}
.curriculumdes{
    margin-bottom: 50px;
}
#contacto1{
    margin-top: 0px;
    margin-bottom: 50px;

}
#sobremi{
    margin-top: 5px;
    margin-bottom: 10px;

}